%p.lead Nicer and easier to copy!
%p.lead
  %input.input.url{ type: :text, placeholder: 'Enter your repo CircleCI URL' }
%p.lead
  %a.url-result
%p.lead.markdown
  %label Markdown
  %input.input{ type: :text }
