!!!
%html
  %head
    %title CircleCI Badges
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'description', content: 'CircleCI Badges' }
    %link{ href: '//dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico', rel: :icon, type: 'image/png' }
    %link{ href: '/stylesheets/application.css', rel: :stylesheet, type: 'text/css' }
    %script{ src: 'http://code.jquery.com/jquery-2.1.1.min.js', type: 'text/javascript' }
    %script{ src: '/javascripts/application.js', type: 'text/javascript' }

  %body
    %header

    %main.container{ role: 'main' }
      .row
        .col-md-12
          %a{ href: '/', style: 'text-decoration: none' }
            %h1.lead CircleCI Badges
          = yield(:content)

    %footer
      .container
        %p.copyright= "brought to you by Máximo Mussini."
